torch
torchvision
numpy
rembg
opencv-contrib-python
diffusers
transformers
streamlit
altair<5
huggingface_hub
git+https://github.com/facebookresearch/segment-anything.git
gradio>=3.50
fire
PyMatting
open3d
trimesh
onnxruntime
# git+https://github.com/facebookresearch/pytorch3d.git@stable
timm
matplotlib
omegaconf
enlighten
pycolmap
kornia
exifread
h5py